header {
    width: 100%;
    padding-top: 16px;
}

.navbar {
    max-width: 1440px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between; /* Equi-distantes -> Distâncias iguais desconsiderando as pontas */
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;

    li {
        margin-left: 24px;
    }
}

.logo {
    max-width: 88px;
}

.nav-link{
    display: inline-block; /* Ele vai levar em consideração o conteúdo dentro e vai se ajustar conforme */

    padding: 8px 16px; /* Criando questões de acessibilidade */
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative; /* Quando um elemento está com position relative, seus filhos caso
    sejam absolutos, ficarão absolutos em relação a tag father */
    color: $gray-3;
    transition: .7s ease;

    &::after{
        content: '';
        display: block;
        position: absolute;

        top: -40px;
        left: 50%;

        width: 2px;
        height: 0px;
        transform: rotate(-180deg);
        background: linear-gradient(180.01deg, #EA1D22 0.01%, rgba(234, 29, 34, 0) 100%);
        transition: .7s ease;
        
    }

    &:hover{
        color: $white-light;

        &::after{
            height: 40px;
        }
    }
}

.nav-social {
    display: flex;

    svg{
        cursor: pointer;

        margin-left: 16px;
        width: 24px;

        path,circle{
            transition: .7s ease;
        }

        &:hover{
            path,circle{
                fill: $red-light;
                transform: translate3d(0,-3px,0);
            }
        }
    }
}